a{
    text-decoration: none;
}
.main{
    font-size: 40px;
    color: black;
    font-weight: bold;
    padding: 5px;
}

.CenterHeader-zone{
    padding-top: 5px;
    padding-left: 10px;
}